/* ----------------------------------------- */
/* ----Estilos para MAAGTICSI ---------------
--Autor: Ariel P치ez (Arimasen) por Espacio360
y la disegnadora Alma Reyes.
---------------------------------------------*/

@charset "utf-8";
@font-face {
	font-family:'opensans';
	src: url(../fonts/opensans.eot);
	src: url(../fonts/opensans?#iefix) format('embedded-opentype'), url(../fonts/opensans.woff) format('woff'), url(../fonts/opensans.ttf) format('truetype'), url(../fonts/opensans.svg#opensans) format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:'roboto';
	src: url(../fonts/roboto.eot);
	src: url(../fonts/roboto.eot?#iefix) format('embedded-opentype'), url(../fonts/roboto.woff) format('woff'), url(../fonts/roboto.ttf) format('truetype'), url(../fonts/roboto.svg#roboto) format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: roboto;
	font-size: 1.4em;
}
h1,h2,h3,h4 {font-family: opensans;
}
h1 {font-size: 1.7em;}
h2 {font-size: 1.8em;}
h3 {font-size: 1.6em;}
h4 {font-size: 1.5em }
h1, h2, h3 {
    margin: 20px 0;
}

@media (min-width: 1200px) {
  .container { width: 970px; }
}

#titulo_principal{
	color: #FFFFFF;
	position: absolute;
	top: 20px;
	width: 55%;
	z-index: 500;
	text-shadow: 1px 1px 1px rgba(45, 45, 45, 1);
	font-size: 1.3em;
	line-height:1.7;
	text-align: justify !important;
}
@media(max-width:775px){
	#titulo_principal{ width: 96%;	}
}
@media(min-width:1681px){
	#titulo_principal{ width: 800px;	}
}
.bg-banner {
	width:100%;
	height: 256px;
	background-image: url(../imgs/bg_principal_red.jpg);
	background-repeat: no-repeat;
	background-position: center right;
}


.navbar, .reduce-top{
	top:-40px;
}
.reduce-top{
	margin-top: -50px;
}

#nav-principal{
	background:url(../imgs/bg-ruido.jpg) #efefef;	
	border-radius:5px;	
}
#nav-principal>ul>li {padding-top:21px;}
#nav-principal li a{}

.list-group-item{
	border-left:1px solid #DDDDDD;
	border-right:1px solid #DDDDDD;
}
.color-azul{	color:#008781;}
.color-rojo{	color:#cd2a2d;}
.color-gris {	color:#77777a;}
.color-verde {	color:#00998e;}

.borde-gris {
	border-left:8px solid #77777a;
	margin-top:0px;
}
.borde-verde {
	border-left:8px solid #00998e;
	margin-top:0px;
}
.color-red{
	color:#cd2a2d;
}
.color-blanco{
	color:#FFF;
	text-shadow: 1px 1px 0px rgba(150, 150, 150, 1);
}
.lista{
	margin-left:0;
	margin-bottom:0;
	border-left:#00b7af 28px solid;	
}
.lista.padding{
	padding:85px 15px;
}
.lista li {
	padding:5px;
	margin-left:20px;
	list-style:disc;
	color:#008781;
}
.lista a, .lista a:link, .lista a:visited{
	color:#008781;
	text-decoration: none;
}
.lista a:hover, .lista a:active{
	color:#3ccec8;
}

.btn-side{
	display:block;
	width:100%;
	background:#dbdbdc;
	border-radius: .2em;
	font-size:1.2em;
	border: 1px solid #d1d1d2;
	color: #333;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;	
	-moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.5) inset, 0 1px 0 rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.5) inset, 0 1px 0 rgba(0,0,0,.3);
	box-shadow: 0 0 1px 1px rgba(255,255,255,.5) inset, 0 1px 0 rgba(0,0,0,.3);
}
.btn-side:hover {
	background:#efefef;
	border: 1px solid #dbdbdc;
	color:#666;
	text-shadow: 0 1px 0 rgba(255,255,255,.9);	
	-moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.7) inset, 0 1px 0 rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.7) inset, 0 1px 0 rgba(0,0,0,.3);
	box-shadow: 0 0 1px 1px rgba(255,255,255,.7) inset, 0 1px 0 rgba(0,0,0,.3);
}
.btn-side:active {
	background:#efefef;
	border: 1px solid #dbdbdc;
	color:#666;
	text-shadow: 0 1px 0 rgba(255,255,255,.9);	
	-moz-box-shadow: 0 0 3px 1px rgba(0,0,0,.3) inset, 0 1px 0 rgba(255,255,255,.3);
	-webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,.3) inset, 0 1px 0 rgba(255,255,255,.3);
	box-shadow: 0 0 3px 1px rgba(0,0,0,.3) inset, 0 1px 0 rgba(255,255,255,.3);
}

.panel{
	background-color: #efefef;
	border-bottom: 4px solid #dbdbdc;
}

.modal-dialog {
    width: 670px;
}

.drop-disp{
width:210px;
padding: 5px;
}
.drop-disp li {
	padding-top: 5px;
	border-top: 1px solid #CCC;
}
.drop-disp li:first-child {
	border-top: none;
}

.drop-disp li a{
	padding:5px;
}

#nav-principal li a:hover {background-color: #DDD;}

.panel-no-pad{ padding: 0;}
.link-list{
	margin:0;
	padding:0;
	text-decoration: none;
	list-style: none;
}
.link-list li {
	padding:3%;
}
#reglas .col-sm-6 ul {
	margin-top:11%;
}
@media(max-width:768px){
	#reglas .col-sm-6 ul {
		margin-top:0;
	}
}
#gobernanza .col-sm-6 ul {
	margin-top:13%;
}
@media(max-width:768px){
	#gobernanza .col-sm-6 ul {
		margin-top:0;
	}
}
#organizacion .col-sm-6 ul {
	margin-top:5%;
}
@media(max-width:768px){
	#organizacion .col-sm-6 ul {
		margin-top:0;
	}
}
#entrega .col-sm-6 ul {
	margin-top:3%;
}
@media(max-width:768px){
	#entrega .col-sm-6 ul {
		margin-top:0;
	}
}
.link-list a, .link-list a:link, .link-list a:visited{
	color:#008781;
	text-decoration: none;
}
.link-list a:hover, .link-list a:active{
	color:#3ccec8;
}

.col-sm-6 .well .wrapper{
	min-height:80px;
	background:url(../imgs/rol.png) left center no-repeat;
	padding:19px 19px 19px 60px;
}

.col-sm-6 .well .wrapper.alto {
	min-height:100px;
}
@media(max-width:768px){
	.col-sm-6 .well .wrapper.alto {
		min-height:80px;
	}
}
.well.gray, .well.red, .well.green{
	background-color:#DDD;
	border-bottom:4px solid #AAA;
	border-left:1px solid #AAA;
	border-right:1px solid #AAA;
	border-top:1px solid #AAA;
}
.col-sm-6 .well.red .wrapper{
	background:url(../imgs/rol-rojo.png) left center no-repeat;
}
.col-sm-6 .well.green .wrapper{
	background:url(../imgs/rol-verde.png) left center no-repeat;
}

/*.well.red {
	background-color: #EEB8B9;
	border-bottom: 3px solid #E17F81;
	border-left:1px solid #E17F81;
	border-right:1px solid #E17F81;
	border-top:1px solid #E17F81;
}
.well.green {
	background-color: #99d6d2;
	border-bottom: 3px solid #33ada5;
	border-left:1px solid #33ada5;
	border-right:1px solid #33ada5;
	border-top:1px solid #33ada5;
}
*/
ul.pestagnas{
	margin:0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	margin-left:3px;
}
ul.pestagnas li {display: inline-block; background-color: #DC6A6C;cursor:pointer;}
ul.pestagnas li a.active{
	background-color:#cd2a2d;
}
ul.pestagnas a {
	color: white;
	display: block;
	min-width: 70px;
	height: 50px;
	padding: 15px;
}
ul.pestagnas a:link, ul.pestagnas a:visited {
	text-decoration: none;
	background-color: #DC6A6C;
}
ul.pestagnas a:hover, ul.pestagnas a:active{
	text-decoration: none;
	background-color: #A42224;
}

/*pesta침as grises*/
ul.pestagnas li.gris {display: inline-block; background-color: #a9a9ab;}
ul.pestagnas li.gris a.active{
	background-color:#77777a;
}
ul.pestagnas a.gris:link, ul.pestagnas a.gris:visited {
	text-decoration: none;
	background-color: #a9a9ab;
}
ul.pestagnas a.gris:hover, ul.pestagnas a.gris:active{
	text-decoration: none;
	background-color: #59595c;
}

/*pesta침as verdes*/
ul.pestagnas li.verde {display: inline-block; background-color: #00b7af;}
ul.pestagnas li.verde a.active{
	background-color:#007f76;
}
ul.pestagnas a.verde:link, ul.pestagnas a.verde:visited {
	text-decoration: none;
	background-color: #00b7af;
}
ul.pestagnas a.verde:hover, ul.pestagnas a.verde:active{
	text-decoration: none;
	background-color: #00665a;
}

p.gris{
	font-weight: bold;
	padding:5px;
	background-color: #aaa;
}
.actividades{display: none;}
#act1{display:block;}

.producto-row{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.producto-num{
	background-color:#DC6A6C; color:#fff;font-size:2.2em;
}
.producto-num-gris{
	background-color:#77777a; color:#fff;font-size:2.2em;
}
.producto-num-verde{
	background-color:#00998e; color:#fff;font-size:2.2em;
}

.div-indicador .row{
	margin-top: 5px;
	border:1px solid #ccc;
	border-left:6px solid #DC6A6C;
}

.div-indicador .row .color-red{
	font-weight: bold;
}
.div-indicador-gris .row{
	margin-top: 5px;
	border:1px solid #ccc;
	border-left:6px solid #77777a;
}

.div-indicador-gris .row .color-gris{
	font-weight: bold;
}

.div-indicador-verde .row{
	margin-top: 5px;
	border:1px solid #ccc;
	border-left:6px solid #00998e;
}

.div-indicador-verde .row .color-verde{
	font-weight: bold;
}

/*****CAMBIOS ALMA***/
/***menu***/
.navbar{border-radius:5px}

.navbar-default{
	background-color:#efefef;
	color:#fff;
	border:#d1d1d2 1px solid;
}

#nav-principal .divider {
	border-right:#FFFFFF 1px solid;
	border-left:#d1d1d2 1px solid;
	height:53px;
	margin:18px 0;
}
@media(max-width:768px){
	#nav-principal .divider {	display:none;	}
}
/**banner**/
.bgnegro70 {

	text-shadow: shadow1, shadow2, shadow3;
	text-shadow: 1px 2px 0px rgba(0,0,0,0.15), 2px 2px 0px #0D0D0D;
	text-transform: uppercase !important;
}
/**listas**/
.links {
	border-left:#00b7af 28px solid;
}
.listnone {
	list-style:none;
}
.articulos {
	display:block;
	border-top:3px #ddd solid;
	border-bottom:1px #ddd solid;
	padding:3px 0;
}
li.list-group-item ul {
	margin:10px 0;
	border-top:1px solid #DDDDDD;
	border-bottom:1px solid #DDDDDD;
	border-left:none;
	border-right:none;
}
li.list-group-item ul li {
	background:#f4f4f4;
	display:block;
	border:none;
}
li.list-group-item ul li ul {
	border-top:1px solid #DDDDDD;
	border-bottom:1px solid #DDDDDD;
	border-left:3px solid #DDDDDD;
}
li.list-group-item ul li ul li {
	background:#fff;
}
.list-group-item {
    border-top:1px solid #DDDDDD;
	border-bottom:1px solid #DDDDDD;
}

/***extras**/
.noborder {
	border:none;
}
.nopadding {
	padding:0;
}
.tit-seccion{
	margin-top:-30px;
}
.title-seccion {
	border-bottom:#ddd 1px solid;
	padding:10px 0;
}

/**index**/
.col-sm-6 .wrapper {
	padding:15px;
}
.col-sm-12 .wrapper {
	padding:15px;
}
.gestion .wrapper {
	border-top:#dbdbdc 1px solid;
	border-left:#dbdbdc 1px solid;
	border-right:#dbdbdc 1px solid;
	border-bottom:#dbdbdc 4px solid;
	min-height:390px;
	margin-bottom:30px;
}
.gestion ul {
	padding:0 10px;
}
button.red {
	border-radius:5px;
	background:#d53e43;
	color:#FFF;
}
button.red:hover {
	background:#dd666a;
	color:#CCC;
}
.bg-iconos {
	height:110px;
	width:inherit;
	border-bottom:#dbdbdc 1px solid;
	position:relative;
	margin-bottom:30px;
}
.bg-iconos .titulo {
	position: absolute;
	top:91px;	
	width:100%;	
}
.bg-iconos .titulo .txt {
	display:block;
	border-radius: 5px;
	background: #fff;
	border-bottom: 4px #dbdbdc solid;
	color: #d12a2f;
	font-family: opensans;	
	font-size: 1.7em;
	text-align:center;
	width:80%;
	margin:0 auto;
	padding: 0 8px;
	height:5%;
}
.bg-iconos img {
	display: block;
	position: absolute;
	right: 0px;
	top: 0px;
}
.gobernanza {
	background:url(../imgs/bg_red.png) repeat-x;
}
.organizacion {
	background:url(../imgs/bg_gray.png) repeat-x;
}
.entrega {
	background:url(../imgs/bg_green.png) repeat-x;
}

a.index-btn, a.index-btn:link, a.index-btn:visited, a.index-btn:hover, a.index-btn:active {text-decoration: none;}

/**iconos del manual**/
.bg-manual {
	height:196px;
	width:100%;	
	position:relative;
}
 @media  (max-width : 768px){
	.bg-manual {margin-bottom:20px;}
 }
.bg-manual .titulo {
	position: absolute;
	top: 162px;
	width: 100%;
}
.bg-manual .titulo .txt {
	display:block;
	border-radius: 5px;
	background: #fff;
	border-bottom: 4px #dbdbdc solid;
	color: #d12a2f;
	font-family: opensans;	
	font-size: 1.7em;
	text-align:center;
	width:64%;
	/*margin:0 auto;*/
	padding: 0 8px;
	height:5%;
}
.bg-manual img {
	display: block;
	position: absolute;
	right: 0px;
	top: 0px;
}
.boxgober {
	background:url(../imgs/bg_red.png);
	border-right:#d95256 10px solid;
}
.boxorganiza {
	background:url(../imgs/bg_gray.png);
	border-right:#77777a 10px solid;
}
.boxentrega {
	background:url(../imgs/bg_green.png);
	border-right:#008781 10px solid;	
}

.boxreglas .titulo {
	position: absolute;
	top: 73px;
	width: 100%;
}
.boxreglas {
	background:url(../imgs/bg_tres.png);
	border-right:#dbdbdc 10px solid;
	height:107px;
}
	
/***Proceso****/
.title-proceso{
	margin-top:-30px; 
	height:50px; 
	-webkit-box-shadow: 0px 7px 2px -4px #262626; 
	box-shadow: 0px 7px 2px -4px #262626;
}
.tit-proceso {
	margin:0;
	padding:10px 0;
}
.text-gray {
	color:#77777a;
}
/****actividades****/
.dl-horizontal dt.text-left {
	text-align:left;
	width:130px;
	font-size:1.3em;	
	font-family: opensans;
	font-weight:500;
	line-height:1.1;
	margin-bottom:12px;
}
h4.actividad {
	display:block;
	padding:12px 0;
	margin-bottom:20px;
	border-bottom:#cd2a2d 1px solid;
}
h4.actividadgris {
	display:block;
	padding:12px 0;
	margin-bottom:20px;
	border-bottom:#77777a 1px solid;
}
h4.actividadverde {
	display:block;
	padding:12px 0;
	margin-bottom:20px;
	border-bottom:#00998e 1px solid;
}
.actividades .divider {
	border-top:#d1d1d2 1px solid;
	border-bottom:#FFFFFF 1px solid;
}

/**sidebar**/
.glyphicon {
	display:block;
	float:left;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
	color:#FFF;
	font-size:1.3em;	
	padding-right:30px;
	margin:2% 0;
}
.fa {
	display:block;
	text-shadow: 1 1px 1px rgba(100, 100, 100, 0.6);
	color:#CD2A2D;
	margin:2% 0;
	line-height: inherit;
}

button.btn-side .title {
	float:right; /*(antes, left)*/
	display:block;
	padding-left:12px;	
	margin:2% 0;
	width:70%;
	text-align:left;
}	
#sidebar h3 {
	text-align:center;
	display:block;
	border-top:4px #dbdbdc solid;
	border-bottom:1px #dbdbdc solid;
	padding:5px 0;
	margin-bottom:15px;
	color:#666;
}

#medidor {width: 0px;display:block;}
@media  (min-width : 768px){
        #medidor {width:1px; display:inline;}
      }
	  
.panel .list-group-item {
    background-color: #EEEEEE;
}
/*  Para acondicionar la barra de navegaci칩n a diferentes tamagnos */
    @media (max-width: 767px) {
        #titulo_principal{top:0px;font-size:1.2em;}
        #nav-principal>ul>li {padding-top:0px;}      }

     @media (min-width: 768px) and (max-width: 991px) {
        #titulo_principal{top:0px; font-size:1.2em;}
        ul.nav li.dropdown:hover > ul.dropdown-menu {  display: block;  }
      }

      @media (min-width: 992px) and (max-width: 1199px) {
        #titulo_principal{top:0px;}
        ul.nav li.dropdown:hover > ul.dropdown-menu {   display: block;   }
      }

      @media (min-width: 1200px) {
        ul.nav li.dropdown:hover > ul.dropdown-menu {  display: block;  }
      }
